{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="d-flex main-default justify-content-center align-items-center">

    <div class="container-fluid">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        

        <section class="row justify-content-center">

            <div class="col-10 col-lg-8">

                <form method="post">

                    <div class="row">
                        <h1 class="h3 mb-3 font-weight-normal">Identifiez vous :</h1>
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-custom mb-4" autocomplete="email" required autofocus>
                        <label for="inputPassword" class="form-label">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control form-custom mb-4" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                    </div>

                    <div class="row mt-2">
                        <button class="col-12 col-md-5 btn btn-lg btn-dark text-light" type="submit">
                            Connexion
                        </button>                       
                    </div>

                </form>
            
            </div>

            
        </section>

    </div>

</main>

{% endblock %}
